<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.Capture" version="0.1.0">
    <name>Capture</name>
    <dependency id="org.apache.cordova.core.FileUtils" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-file" commit="master" subdir="/*" />
    <dependency id="org.apache.cordova.core.AudioHandler" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-media" commit="master" subdir="/*" />
    
    <js-module src="www/CaptureAudioOptions.js" name="CaptureAudioOptions">
        <clobbers target="CaptureAudioOptions" />
    </js-module>
    
    <js-module src="www/CaptureImageOptions.js" name="CaptureImageOptions">
        <clobbers target="CaptureImageOptions" />
    </js-module>

    <js-module src="www/CaptureVideoOptions.js" name="CaptureVideoOptions">
        <clobbers target="CaptureVideoOptions" />
    </js-module>
        
    <js-module src="www/CaptureError.js" name="CaptureError">
        <clobbers target="CaptureError" />
    </js-module>

    <js-module src="www/MediaFileData.js" name="MediaFileData">
        <clobbers target="MediaFileData" />
    </js-module>
        
    <js-module src="www/MediaFile.js" name="MediaFile">
        <clobbers target="MediaFile" />
    </js-module>
    
    <js-module src="www/capture.js" name="capture">
        <clobbers target="navigator.device.capture" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Capture" >
                <param name="android-package" value="org.apache.cordova.core.Capture"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.RECORD_VIDEO"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/Capture.java" target-dir="src/org/apache/cordova/core" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="Capture">
                <param name="ios-package" value="CDVCapture" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAvailability.h" />
        <header-file src="src/ios/CDVFile.h" />
        <header-file src="src/ios/CDVJSON.h" />
        <header-file src="src/ios/CDVCapture.h" />
        <source-file src="src/ios/CDVCapture.m" />
    </platform>

    <!-- wp7 -->
    <platform name="wp7">
        <config-file target="config.xml" parent="/*">
            <feature name="Notification">
                <param name="wp-package" value="Notification"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_MEDIALIB"/>
            <Capability Name="ID_CAP_MICROPHONE"/>
        </config-file>

        <source-file src="src/wp7/Capture.cs" />
        <source-file src="src/wp7/UI/AudioCaptureTask.cs" />
        <source-file src="src/wp7/UI/AudioRecorder.xaml" />
        <source-file src="src/wp7/UI/AudioRecorder.xaml.cs" />
        <source-file src="src/wp7/UI/VideoCaptureTask.cs" />
        <source-file src="src/wp7/UI/VideoRecorder.xaml" />
        <source-file src="src/wp7/UI/VideoRecorder.xaml.cs" />
    </platform>
        
</plugin>
